* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --primary-color: #3f4fc5;
  --secondary-color: #3fc5a6;
  --tertiary-color: #be3030;
  --background-color: #fff;
  --button-background: #e4e4e4;
  --background-card: #cccccc;
  --background-card-hover: #a3a3a3;
  --box-shadow: rgba(0, 0, 0, 0.308) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.037) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.486) 0px 32px 16px;

  --board-size: 350px;
}

html {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-image: url(./fondo.gif);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 0 0 0.5em #000;
  font-weight: bolder;
  text-transform: uppercase;
}

.puntaje {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#reiniciar,
#ayuda,
#iniciarNivel,
#inicio,
#reiniciarJuego,
#avanzarNivel {
  padding: 1em 2em;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 0.25em;
  cursor: pointer;
  color: var(--background-color);
}

#ayuda {
  background-color: var(--secondary-color);
}

#reiniciar {
  background-color: var(--tertiary-color);
}

.tableros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

@media (max-width: 768px) {
  .tableros {
    grid-template-columns: 1fr;
  }
}

.tablero {
  position: relative;
  padding: 30px;
  width: var(--board-size);
  height: var(--board-size);
  background-color: var(--background-card);
  box-shadow: var(--box-shadow);
  z-index: 1;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.tablero button {
  transition: background-color 0.2s ease-in-out;
}

.tablero button.on,
.tablero button:hover {
  background-color: var(--primary-color) !important;
}

#tablero-robot {
  gap: 0;
}

#tablero-usuario button {
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  border: solid 0.1em #787878;
}

#tablero-robot button {
  background-color: #000;
  border: none;
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  place-content: center;
  gap: 1em;
}

.modal-content h2 {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 10px #000000be;
}
.modal-content p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 10px #000000be;
}

#modalPerdedor {
  background-repeat: no-repeat;
  background-image: url(./perdedor.gif);
  background-position: center;
  background-size: cover;
  z-index: 10;
}

#modalGanador {
  background-repeat: no-repeat;
  background-image: url(./winner.gif);
  background-position: center;
  background-size: cover;
  z-index: 10;
}

#modalInformacionNivel,
#modalAyuda {
  z-index: 10;
}

#modalAyuda p {
  font-size: 15px;
  color: #000000;
}
#modalAyuda h2 {
  font-size: 40px;
  color: #000000;
}

#modalAyuda button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  color: var(--background-color);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

#modalAyuda {
  width: 100%;
  height: 100%;
}

#modalAyuda .screen {
  max-width: 400px;
  margin: auto;
  background-color: var(--background-card);
  padding: 1em;
  box-shadow: var(--box-shadow);
  font-size: 1.3em;
}

#modalInformacionNivel .screen {
  max-width: 350px;
  margin: auto;
}

#modalInformacionNivel p {
  font-size: 15px;
  color: #000000;
}

#screen {
  margin: auto;
  background-color: var(--background-card);
  padding: 1em;
  box-shadow: var(--box-shadow);
  color: #000000;
  font-size: 1.3em;
  width: fit-content;
  height: fit-content;
}
